.image-posted-in-the-post-body {
  height: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Video style */
.video-posted-in-the-post-body {
  width: 100%;
  max-width: 600px; /* Set a maximum width for the video */
  height: auto;
  display: block;
  margin: 0 auto; /* Center the video horizontally */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}